.form {
	background-color: var(--beamery-dark-grey);
	display: flex;
	flex-direction: column;
	width: 15vw;
	height: 90vh;
	bottom: 0;
	color: var(--beamery-white);
	padding: var(--m) var(--m);
	padding-left: var(--m);
}

.filter-heading {
	margin: 0;
	margin-bottom: var(--m);
	font-weight: normal;
}

@media only screen and (max-width: 600px) {
	.form {
		width: 100vw;
		height: 10vh;
		flex-direction: row;
		justify-content: space-evenly;
	}
}
