.card {
	width: 12.5rem;
	height: 12.5rem;
	background-color: var(--beamery-grey);
	border: none;
	border-radius: 0.5rem;
	margin-right: var(--l);
	margin-bottom: var(--l);
	border: var(--beamery-dark-grey) solid;
}

.new-card-button {
	font-size: 5rem;
	font-weight: 700;
	cursor: pointer;
}

.new-card-submit {
	background-color: var(--beamery-blue);
	font-size: var(--m);
	color: white;
	border: none;
	border-radius: var(--xs);
	cursor: pointer;
}

.new-card-form {
	padding: var(--m);
}

.input-label {
	margin-bottom: var(--xs);
	align-self: flex-start;
}

.title-input {
	margin-bottom: var(--s);
}
