.card {
	width: 12.5rem;
	height: 12.5rem;
	background-color: var(--beamery-light-grey);
	border: none;
	border-radius: 0.25rem;
	margin-right: var(--l);
	margin-bottom: var(--l);
	border: #a2a2a2 solid 0.0625rem;
}

.new-card-button {
	font-size: 3rem;
	font-weight: 700;
	cursor: pointer;
}

.new-card-submit {
	background-color: var(--beamery-blue);
	font-size: var(--m);
	color: white;
	border: none;
	border-radius: var(--xs);
	cursor: pointer;
}

.new-card-form {
	padding: var(--m);
}

.input-label {
	margin-bottom: var(--xs);
	align-self: flex-start;
}

.title-input {
	margin-bottom: var(--s);
}

.title-error {
	border: red solid 0.125rem;
}
