/* from w3 schools tutorial */
.modal {
	position: relative;
	left: 40vw;
	display: block;
	width: 25vw;
	height: 25vh;
	z-index: 2;
}

.modal-content {
	background-color: var(--beamery-light-grey);
	width: 50vw;
	height: auto;
	text-align: center;
	color: var(--beamery-dark-grey);
	position: absolute;
	top: 40%;
	left: 25%;
	padding: 1rem;
}
