.searchbar-form {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.searchbar-input {
	margin-bottom: var(--s);
}

.searchbar-label {
	margin-bottom: var(--xs);
	align-self: flex-start;
}

.searchbar-submit {
	background-color: var(--beamery-blue);
	font-size: var(--m);
	color: white;
	border: none;
	border-radius: var(--xs);
	cursor: pointer;
}
