.searchbar-form {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.searchbar-input {
	margin-bottom: var(--s);
	border: white solid 0.25rem;
}

.searchbar-label {
	margin-bottom: var(--xs);
	align-self: flex-start;
}

.searchbar-submit {
	background-color: var(--beamery-blue);
	font-size: var(--m);
	color: white;
	border: none;
	border-radius: var(--xs);
	cursor: pointer;
}

.searchbar-error {
	border: red solid 0.125rem;
}

button:disabled,
button[disabled] {
	opacity: 50%;
}
