.searchbar-form {
	display: flex;
	align-items: center;
	flex-direction: column;
}

input {
	width: 14vw;
}

button {
	background-color: var(--beamery-blue);
	font-size: var(--m);
	color: white;
	border: none;
	border-radius: var(--s);
	width: 5vw;
	height: 2.5vw;
}

label {
	align-self: flex-start;
}
